* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: firebrick;
  text-align: center;
}

.scoreboard {
  float: right;
  display: block;
  margin-top: 1.25%;
  margin-right: 2%;
  border-radius: 2px;
  background-color: red;
  border: 1px solid black;
  border-bottom: 0px;
  height: 95%;
  width: 30%;
}

.scoreboard > div {
  display: block;
  float: left;
  width: 30%;
  border: 1px solid black;
  height: 100%;
}

.scoreboard > div > span {
  display: block;
  text-align: left;
  border-bottom: 1px solid black;
  padding: 5px;
  transition: background-color .2s;
  height: 5.88235%;
  line-height: 150%;
}

div.player1Container, div.player2Container, div.rollBoard {
  position: fixed;
  width: 60%;
  padding: 1 1%;
  left: 4%;
  border: 2px solid black;
}

.big {
  display: inline-block;
  padding: 2px;
  border-radius: 6px;
  vertical-align: middle;
}

div.player1Container {
  background-color: orange;
  bottom: 0;
  height: 25%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

div.player1 {
  width: 100%;
  background-color: red;
  height: 100%;
  border-top: 2px solid black;
  padding-top: 1%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

div.player2Container {
  background-color: orange;
  top: 0;
  height: 25%;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

div.player2 {
  width: 100%;
  background-color: red;
  height: 85%;
  border-bottom: 2px solid black;
  padding-bottom: 1%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

div.rollBoard {
  top: 45%;
  background-color: green;
  height: 25%;
  line-height: 160px;
  border-radius: 6px;
}

.player-buttons {
  display: inline-block;
  position: absolute;
  top: 35%;
  left: 8%;
  height: 10%;
  width: 52%;
}

.player-buttons > div {
  display: inline-block;
  width: 30%;
  height: 100%;
  background-color: red;
  border: 2px solid black;
  border-bottom: 0px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.rollButton > span {
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.rollsleft > span {
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
#reset > span {
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.green {
  background-color: green;
  transition: background-color .2s;
}

.green:hover {
  background-color: lightgreen;
}

.rollButton:focus {
  background-color: black;
}

#p1 {
  font-weight: bold;
  padding: 6px;
}

#p2 {
  position: absolute;
  bottom: 0;
  font-weight: bold;
  padding-top: 8px;
  left: 50%;
  transform: translate(-50%, 0);
}

#completed {
  font-weight: bold;
  background-color: orange;
}

#categories {
  width: 40%;
}

#score1 > span, #score2 > span {
  text-align: center;
}

#fail {
  background-color: grey;
  font-weight: bold;
}

#p1, #p2 {
  display: block;
}

.split {
  border-top: 1px solid black;
}

.grey {
  background-color: darkred;
}

#winner {
  background-color: gold;
  font-weight: bold;
}

#loser {
  background-color: grey;
  font-weight: lighter;
}

.rollButton, .big, .on, #reset{
  cursor: pointer;
  cursor: hand;
}
@media only screen and (max-width: 980px) {
  .scoreboard {
    height: 100%;
    margin-top: 0;
    margin-right: 0;
    width: 38%;
  }
  div.player1Container, div.player2Container, div.rollBoard {
    left: 1px;
  }
  .player-buttons {
    left: 5%;
  }
  .big {
    height: 90px;
    width: 10px;
  }

}
@media only screen and (max-height: 980px) {
  .big {
    height: 115px;
    width: 115px;
  }
}
@media only screen and (max-height: 620px) {
  .big {
    height: 110px;
    width: 110px;
    margin-top: 1%;
    margin-bottom: 1%;
    vertical-align: top;
  }
}
@media only screen and (orientation: landscape) and (max-height: 560px) {
  .scoreboard {
    height: 100%;
    margin-top: 0;
    margin-right: 0;
    width: 38%;
  }
  div.player1Container, div.player2Container, div.rollBoard {
    width: 60%;
    left: 1px;
    height: 25%;
  }
  .big {
    height: 90px;
    width: 90px;
    margin-top: 1%;
    margin-bottom: 1%;
    vertical-align: top;
  }
  div.rollBoard {
    width: 55%;
    left: 2%;
  }
  .player-buttons {
    width: 45%;
    left: 6%;
  }
}
@media only screen and (orientation: portrait) {
  .scoreboard {
    height: 100%;
    margin-top: 0;
    margin-right: 0;
    width: 38%;
  }
  div.player1Container, div.player2Container, div.rollBoard {
    width: 60%;
    left: 2px;
    height: 20%;
  }
  .rollBoard {
    top: 50%;
  }
  .scoreboard > div > span {
    height: 5.9%;
  }
}
